* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
}

main {
  display: flex;
  flex-direction: column;
}

header,
section {
  background: #fff;
  padding: 0 2.4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5.8rem;
}

header nav > ul {
  display: none;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
  font-style: normal;
}

.mobile-menu-canvas {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #6070ffe3;
  overflow-x: hidden;
  backdrop-filter: blur(4px);
}

.mobile-menu-canvas ul {
  position: relative;
  left: 2.8rem;
  top: 10.6rem;
}

.mobile-menu-canvas li > a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.canopy-lists > li {
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #7a869a;
  padding-left: 0.7rem;
}

.categories > li {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #0018f0;
  background: #ebebff;
  border-radius: 8px;
  padding: 0.4rem 1.2rem;
}

.about-categories > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000;
}

.about-categories ul > li {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #253858;
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 0.9rem 1.2rem;
  margin-bottom: 1.2rem;
}

.mobile-menu-canvas li:nth-child(2) {
  margin: 4rem 0;
}

.show {
  display: block;
  position: fixed;
}

.hide {
  display: none;
}

button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 1.2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: none;
  transition: all 0.5s ease-out;
}

nav > button {
  border: none;
  padding: 0;
}

.contact-form button {
  background: #fff;
  border-radius: 8px;
  padding: 1.2rem 1.6rem;
  margin-top: 2.2rem;
}

button:hover {
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  background: #6070ff;
  color: #fff;
}

button:focus {
  background: #2230d2;
  color: #fff;
}

.details-button button {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.popup-contents header > button {
  border: none;
  padding: 0;
}

.contact-form button:hover {
  background: #2230d2;
  color: #fff;
}

.nohover:hover {
  background: none;
  box-shadow: none;
}

.connect {
  font-weight: 500;
  color: #1a30ff;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 1.2rem;
}

.headline-section {
  background: #fff url("images/mobile-bg.png") no-repeat 100% 0%;
  background-size: cover;
  border-bottom-left-radius: 9rem;
  padding-top: 12.8rem;
  padding-bottom: 14rem;
}

.mobile-menu {
  margin-right: 1rem;
  width: 18px;
  height: 12px;
  position: relative;
  z-index: 2;
}

.close {
  position: fixed;
  z-index: 2;
  right: 2.4rem;
}

.logo {
  font-size: 1.5rem;
  color: #6070ff;
  font-weight: 500;
  animation-duration: 3s;
  animation-name: rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #172b4d;
}

p.bio {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.works {
  display: grid;
  grid-template-columns: auto;
  padding-top: 11.4rem;
  row-gap: 8.8rem;
  background: #e5e5e5;
}

.works > section {
  padding: 1.6rem 1.6rem 2.8rem 1.6rem;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.contact-form > div {
  padding: 10.3rem 2.4rem 4.5rem 2.4rem;
  background: #6070ff url("images/contact-form-mobile-bg.png") no-repeat right;
  background-size: contain;
  border-top-left-radius: 9rem;
  display: flex;
  flex-direction: column;
}

.works > section:nth-child(1) > div:nth-child(1) {
  width: 100%;
}

.works p {
  font-size: 1.5rem;
}

.works img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease-out;
}

.works img:hover {
  transform: scale(1.05);
}

h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #172b4d;
  margin-top: 1.3rem;
}

.canopy {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.canopy > h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #344563;
  margin-right: 3.2rem;
}

.canopy-lists {
  display: flex;
  gap: 3.2rem;
  list-style-image: url(images/bullet.png);
}

.categories {
  display: flex;
  gap: 8px;
  margin: 2rem 0 2.4rem 0;
}

.about-section {
  border-top-right-radius: 9rem;
  margin-top: 11.4rem;
  padding-top: 11.4rem;
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #172b4d;
}

.about-section .social-media {
  margin: 2.6rem 0 2.2rem 0;
}

.about-categories {
  margin-top: 4.8rem;
}

.about-categories ul {
  margin: 3.8rem 0;
}

.about-categories > li:first-child {
  flex-wrap: wrap;
}

.about-categories > li:first-child ul {
  width: 100%;
}

.about-categories span {
  display: inline-block;
  text-align: right;
}

.about-categories > li > span {
  padding-right: 3rem;
}

.languages-logo {
  margin-right: 1.6rem;
}

.about-categories > li:nth-child(3) {
  border-top: 1px solid #dfe1e6;
  border-bottom: 1px solid #dfe1e6;
  padding: 2.4rem 0;
  margin: 2.3rem 0 11.4rem 0;
}

.contact-form {
  background-color: #fff;
  padding: 0;
}

.contact-form h2,
.contact-form p {
  color: #fff;
  text-align: center;
}

.contact-form p {
  margin: 1.4rem 0 4.7rem 0;
  font-size: 2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem 1.6rem;
  font-weight: 400;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  outline: 1px solid #6070ff;
}

input {
  color: #172b4d;
  font-size: 1.7rem;
  line-height: 2rem;
}

textarea {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #b3bac5;
  height: 17rem;
}

.email {
  margin: 2rem 0 1.8rem 0;
}

label {
  display: none;
}

.details-popup {
  z-index: 2;
  position: fixed;
  height: 100vh;
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(193, 199, 208, 0.5);
  backdrop-filter: blur(4px);
  overflow: auto;
}

.popup-contents {
  z-index: 5;
  position: fixed;
  left: 1.6rem;
  right: 1.6rem;
  top: 6rem;
  bottom: 5rem;
  height: 100vh;
  background-color: white;
  padding: 2rem 1.6rem;
  border-radius: 16px;
  overflow: auto;
}

.popup-contents hr {
  border: 1px solid #ebecf0;
  margin: 0 0.5rem;
}

.popup-contents header > h3 {
  margin: 0;
}

.popup-contents > header {
  padding: 1rem 0 0 0;
}

.popup-image {
  width: 100%;
  height: auto;
  margin-bottom: 1.2rem;
}

.details-button {
  display: flex;
  gap: 1.2rem;
  margin-top: 2.5rem;
}

.details-popup-close {
  width: 14px;
  height: 14px;
  margin-right: 2rem;
}

.details-button button:nth-child(1) {
  padding: 1.4rem 1.5rem 1.4rem 1.5rem;
  white-space: nowrap;
}

.details-button button:nth-child(2) {
  padding: 1.4rem;
  white-space: nowrap;
}

.details-button button:nth-child(1) > img {
  width: 16px;
  height: 16px;
}

.details-button button:nth-child(2) > img {
  width: 18px;
  height: 20px;
}

.error {
  font-size: 1.5rem;
  display: block;
  color: white;
  margin-top: 0.5rem;
}

.get-resume {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 2.5rem 8rem 2.5rem 8rem;
  }

  .popup-contents header {
    position: static;
    padding: 0;
  }

  section {
    padding: 0 7.2rem;
  }

  a {
    color: #344563;
  }

  header nav > ul {
    display: flex;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  header nav > ul > li {
    margin-right: 3.2rem;
  }

  .canopy-lists > li {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #6b778c;
  }

  .about-categories span {
    text-align: left;
  }

  .about-categories ul > li,
  .about-categories ul > li > span {
    display: block;
  }

  .about-categories ul > li {
    margin: 0;
  }

  header nav > ul > li:nth-child(3) {
    margin-right: 0;
  }

  header nav > button {
    display: none;
  }

  .headline-section {
    background:
      #fff url("images/headline-section-bg-desktop.png") no-repeat
      100% 35%;
    background-size: contain;
    padding: 16.4rem 15rem 17.5rem 15rem;
  }

  h1 {
    letter-spacing: 0.037rem;
    font-size: 4.8rem;
    line-height: 5.2rem;
    color: #091e42;
  }

  .social-media {
    width: 70%;
    margin-top: 1.4rem;
  }

  p.bio {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .about.bio {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .works {
    row-gap: 14.2rem;
  }

  .works p {
    font-size: 1.6rem;
  }

  .works > section {
    border-radius: 24px;
    display: flex;
    gap: 2.2rem;
    padding: 2.4rem;
  }

  .works > section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .works > section .content {
    padding: 2.4rem;
    width: 70%;
  }

  h3 {
    margin-top: 0;
    font-size: 4rem;
    line-height: 5.2rem;
    color: #091e42;
  }

  .categories {
    margin: 2.4rem 0 4rem 0;
  }

  .canopy > h6 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .canopy {
    margin: 2rem 0 3.2rem 0;
  }

  .about-section {
    border-top-right-radius: 9rem;
    padding: 7.2rem 7.2rem 13.4rem 7.2rem;
    display: flex;
    gap: 3.7rem;
  }

  .about-categories {
    margin: 0;
  }

  .contact-form > div {
    padding: 7.2rem 3.2rem 8.7rem 3.2rem;
    background:
      #6070ff url("images/contact-form-desktop-bg.png") no-repeat
      center 15%;
    background-size: contain;
    align-items: center;
  }

  .about-section > div:nth-child(1) {
    width: 45%;
  }

  .about-section > div:nth-child(2) {
    width: 55%;
  }

  .about-categories ul {
    margin: 3.6rem 0;
  }

  .about-categories > li:first-child ul {
    display: flex;
    gap: 1.2rem;
    padding: 0;
  }

  .about-categories > li:first-child ul > li {
    padding: 1.2rem 2.9rem 2.2rem 1.2rem;
  }

  .languages-logo {
    margin: 0 0 1.6rem 0;
  }

  .about-categories > li:first-child ul > li:nth-child(2),
  .about-categories > li:first-child ul > li:nth-child(3) {
    padding-right: 5.2rem;
  }

  .contact-form p {
    width: 50%;
  }

  .contact-form form {
    width: 40%;
  }

  input,
  textarea {
    width: 100%;
    border-radius: 0;
  }

  .contact-form button {
    margin-top: 2.7rem;
  }

  .contact-form .button {
    text-align: center;
  }

  .popup-contents {
    z-index: 5;
    position: fixed;
    left: 14.2rem;
    right: 14.2rem;
    top: 7.7rem;
    bottom: 7.7rem;
    height: 100vh;
    background-color: white;
    padding: 2.4rem;
  }

  .popup-categories-buttons .categories {
    margin: 0;
  }

  .popup-image {
    margin-bottom: 5.9rem;
  }

  .popup-categories-buttons {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
  }

  .popup-contents hr {
    margin: 2rem 0;
  }

  .popup-categories-buttons > div:nth-child(1) {
    width: 48%;
  }

  .details-button button:nth-child(1) {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  .details-button button:nth-child(2) {
    padding: 1rem 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 2.5rem 15.5rem 2.5rem 15.5rem;
  }

  section {
    padding: 0 14.2rem;
  }

  .headline-section {
    background:
      #fff url("images/headline-section-bg-desktop.png") no-repeat
      100% 50%;
    background-size: contain;
    padding: 31.4rem 26rem 25.5rem 26rem;
  }

  .social-media {
    width: 42%;
  }

  .headline-section .social-media {
    width: 25%;
  }

  .about-section {
    padding: 14.2rem 14.2rem 13.4rem 14.2rem;
  }

  .contact-form > div {
    background:
      #6070ff url("images/contact-form-desktop-bg.png") no-repeat
      center bottom;
    background-size: contain;
    padding: 14.2rem 3.2rem 12.7rem 3.2rem;
  }

  .popup-categories-buttons > div:nth-child(1) {
    width: 57%;
  }
}

@media screen and (min-width: 1200px) {
  .popup-categories-buttons > div:nth-child(1) {
    width: 67%;
  }
}
