* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

main {
  display: flex;
  flex-direction: column;
}

header,
section {
  background: #fff;
  padding: 0 2.4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5.8rem;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
  font-style: normal;
}

button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 1.2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: none;
}

nav > button {
  border: none;
}

button:hover {
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  background: #6070ff;
  color: #fff;
}

button:focus {
  background: #2230d2;
  color: #fff;
}

.connect {
  font-weight: 500;
  color: #7f8cff;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 1.2rem;
}

.headline-section {
  background: #fff url("images/mobile-bg.png") no-repeat 100% 0%;
  background-size: cover;
  border-bottom-left-radius: 9rem;
  padding-top: 12.8rem;
  padding-bottom: 14rem;
}

.mobile-menu {
  margin-right: 1rem;
  width: 18px;
  height: 12px;
}

.logo {
  width: 76px;
  height: 20px;
}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #172b4d;
}

p.bio {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.works {
  display: grid;
  grid-template-columns: auto;
  margin-top: 11.4rem;
  row-gap: 8.8rem;
  background: #e5e5e5;
}

.works > section {
  padding: 1.6rem 1.6rem 2.8rem 1.6rem;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.works img {
  width: 100%;
  height: auto;
}

h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #172b4d;
  margin-top: 1.3rem;
}

.canopy {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.canopy > h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #344563;
}

.canopy-lists {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin-left: 3rem;
  list-style-image: url(images/bullet.png);
}

.canopy-lists > li {
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #7a869a;
  padding-left: 0.7rem;
}

.categories {
  display: flex;
  justify-content: space-between;
  width: 55%;
  gap: 8px;
  margin: 2rem 0 2.4rem 0;
}

.categories > li {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 0.4rem 1.2rem;
}

.about-section {
  border-top-right-radius: 9rem;
  margin-top: 11.4rem;
  padding-top: 11.4rem;
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #172b4d;
}

.about-section .social-media {
  margin: 2.6rem 0 2.2rem 0;
}

.about-categories {
  margin-top: 4.8rem;
}

.about-categories > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000;
}

.about-categories ul {
  margin: 3.8rem 0;
}

.about-categories ul > li {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #253858;
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 0.9rem 1.2rem;
  margin-bottom: 1.2rem;
}

.about-categories > li:first-child {
  flex-wrap: wrap;
}

.about-categories > li:first-child ul {
  width: 100%;
}

.about-categories span {
  display: inline-block;
  text-align: right;
}

.about-categories > li > span {
  padding-right: 3rem;
}

.languages-logo {
  margin-right: 1.6rem;
}

.about-categories > li:nth-child(3) {
  border-top: 1px solid #dfe1e6;
  border-bottom: 1px solid #dfe1e6;
  padding: 2.4rem 0;
  margin: 2.2rem 0 11.4rem 0;
}

